/*

* Override Pages default styles or create your own styles here

*/

.bg-sbt {
	background-color: #a72c32 !important;
	color: #FFFFFF !important;

}
.bg-sbt2 {
	background-color: #c6a12f !important;
	color: #FFFFFF !important;
}

.menu-bar ul li a {
    /*color: #C00000 !important;*/
    opacity: 1;
}

.border-bottom-dotted {
    border-bottom: 2px dotted !important;
}

@media (max-width: 358px) {
    .horizontal-app-menu .header .header-inner {
        font-size: 10px;
    }
}

.image_picker_image {
    max-width:600px;
}

.dropzone {
    min-height: 350px !important;
}


.color-sbt {
	color: #a72c32 !important;
}

.color-sbt2 {
	color: #FFFFFF !important;
}
